<%= form_for(@project) do |f| %>

<% if @project.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h2>
    <ul>
    <% @project.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
  </div>
<% end %>

<div class="field">
  <%= f.label :name %><br>
  <%= f.text_field :name %>
</div>

<div class="field">
  <%= f.label :description %><br>
  <%= f.text_field :description %>
</div>

<div class="field">
  <%= f.label :funding_goal %><br>
  <%= f.number_field :funding_goal %>
</div>

<div class="field">
  <%= f.label :start_date %><br>
  <%= select_date(Date.today, options = {:min=> @todayvariable})  %>
</div>

<div class="field">
  <%= f.label :end_date %><br>
  <%= select_date(Date.today) %>
</div>

<div class="field">
  <%= f.label :photo %><br>
  <%= f.text_field :photo %>
</div>

<h2> REWARDS!! </h2>
 
<%= f.fields_for :rewards do |reward_fields| %>
  <div class="field">
    <%= reward_fields.label :name%><br>
    <%= reward_fields.text_field :name %>
  </div>

  <div class="field">
    <%= reward_fields.label :description %><br>
    <%= reward_fields.text_area :description %>
  </div>

  <div class="field">
    <%= reward_fields.label :amount %><br>
    <%= reward_fields.number_field :amount %>
  </div>
<% end %>


<div class="actions">
  <%= f.submit %>
</div>

<% end %>