
<h1>Project</h1>
<h1><%= @project.name %> </h1>

<div class="description">
<%= @project.description %> <br>
<%= @project.funding_goal %> <br>
<%= @project.start_date %> <br>
<%= @project.end_date %><br>
<%= image_tag @project.photo %><br>
</div>



<div class="rewards_box">
<% @project.rewards.each do |reward| %>	
	<div class="rewards">
		<%= reward.name %> <br>
		<%= reward.description %> <br>
		<%= reward.amount %> <br>
		<%= form_for [@project, reward, Pledge.new(:reward_id => reward.id)] do |f| %>
			<%= f.submit :Pledge! %>
		<% end %>
	</div>
<% end %>
</div>
